option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    NPM_USE_PRODUCTION: true
    PORT: 3000
  aws:elasticbeanstalk:container:nodejs:
    NodeVersion: 18.x
    ProxyServer: nginx
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx

container_commands:
  01_install_server_deps:
    command: "cd server && npm install"
  02_build_frontend:
    command: "npm run build"
